<div class='project_title'>
  <h5>Projects</h5> <%= link_to("+", new_project_path, :class => "round-button") %>
 </div>
  <ul class="project-list">
  <% projects.each do |project| %>
    <li><%= link_to(project.title, project) %></li>
  <% end %>
</ul>