<div class='header'>
<h1>Project Helper</h1>
<div>

<div>
<h3>All Current Users</h3>
<%= link_to "Add New User", new_user_path, {user: @user}%>

<ul>
<% @users.each do |user|%>
<li><%= link_to user.name, user_path(user)%></li>
<%end%>
</ul>
</div>