<div class='header_title'>
<h3>All Current Projects</h3>
</div>
<div class="info-list">

<% @users.each do |user|%>
<div class="info">
<h2 class="card-title"><%= link_to user.name, user_path(user)%></h2>
<%= render "partials/project_list", {projects: user.projects} %>
</div>
<%end%>
</div>